env AWS_REGION={YOUR_AWS_REGION};
env AWS_ACCESS_KEY_ID={YOUR_AWS_ACCESS_KEY_ID};
env AWS_SECRET_ACCESS_KEY={YOUR_AWS_SECRET_ACCESS_KEY};
env S3_BUCKET={YOUR_S3_BUCKET};
env PORT=8080;
env PROTOCOL=http;
env LFS_SERVER_URL=http://server:8080;
env LFS_PUBLIC_SERVER=true;