env AWS_REGION={YOUR_AWS_REGION};
env AWS_ACCESS_KEY_ID={YOUR_AWS_ACCESS_KEY_ID};
env AWS_SECRET_ACCESS_KEY={YOUR_AWS_SECRET_ACCESS_KEY};
env S3_BUCKET={YOUR_S3_BUCKET};
env LFS_SERVER_URL=http://server:8080;
env LFS_PUBLIC_SERVER=false;
env LFS_CEPH_S3=false;
env LFS_CEPH_ENDPOINT={YOUR_CEPH_ENDPOINT_WITH_PROTOCOL};
